extends layout 

block content 
    .books
        h1= title 

        ul 
            each val in bookinstance_list 
                li 
                    a(href=val.url) #[strong #{val.book.title}]  #[strong #{val.imprint}]
                    if val.status=='Available'
                        span.text-success.instanceList #{val.status}
                    
                    else if val.status=='Maintenance'
                        span.text-danger.instanceList #{val.status}
                    
                    else 
                        span.text-warning.instanceList #{val.status}

                    if val.status!= 'Available'
                        //span (Due: #{val.due_back})
                        span.instanceList Due: #{val.due_back_formatted}

            else    
                li There are no book copies in this library
